{% extends 'base.html' %}
{% block content %}
    <!-- Cart Items -->
    <div class="container cart">
      <table>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Subtotal</th>
        </tr>
        {% for i in basket %}
        <tr>
          <td>
            <div class="cart-info">
              <img src="{{i.product.image.url}}" alt="" />
              <div>
                <p>{{i.product.title}}</p>
                <span>Price: {{i.product.price}} so'm</span>
                <br />
                <a href="{% url 'remove_cart_product_url' i.id %}">remove</a>
              </div>
            </div>
          </td>
          <td><input type="number" value="1" min="1" /></td>
          <td>{{i.product.price}}</td>
        </tr>
        {% endfor %}
      </table>

      <div class="total-price">
        <table>
          <tr>
            <td>Subtotal</td>
            <td>{{subtotal}} so'm</td>
          </tr>
          <tr>
            <td>Tax</td>
            <td>{{tax}} so'm</td>
          </tr>
          <tr>
            <td>Total</td>
            <td>{{total}} so'm</td>
          </tr>
        </table>
        <a href="{% url 'create_total_sum_url' %}" class="checkout btn">Proceed To Checkout</a>
      </div>
    </div>

{% endblock %}