{% extends 'base.html' %}
{% block content %}

  <div class="hero">
    <div class="row">
      <div class="swiper-container slider-1">
        <div class="swiper-wrapper">
          {% for i in banner %}
          <div class="swiper-slide">
            <img src="{{i.image.url}}" alt="" />
            <div class="content">
              <h1>{{i.banner_title}}
              </h1>
              <p>{{i.banner_text}}</p>
              <a href="{% url 'product_detail_url' i.id %}">Shop Now</a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <!-- Carousel Navigation -->
    <div class="arrows d-flex">
        <div class="swiper-prev d-flex">
          <i class="bx bx-chevrons-left swiper-icon"></i>
        </div>
        <div class="swiper-next d-flex">
          <i class="bx bx-chevrons-right swiper-icon"></i>
        </div>
    </div>
  </div>

  <!-- Promotion -->

  <section class="section promotion">
    <div class="title">
      <h2>Shop Collections</h2>
      <span>Select from the premium product and save plenty money</span>
    </div>

    <div class="promotion-layout container">
      {% for i in shop_collection %}
      <div class="promotion-item">
        <img src="{{i.image.url}}" alt="" />
        <div class="promotion-content">
          <h3>{{i.title}}</h3>
          <a href="{% url 'product_detail_url' pk=i.id %}">SHOP NOW</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>

  <!-- Featured -->
  <section class="section featured">
    <div class="title">
      <h2>Featured Products</h2>
      <span>Select from the premium product brands and save plenty money</span>
    </div>

    <div class="row container">
      <div class="swiper-container slider-2">
        <div class="swiper-wrapper">
          {% for i in products %}
          <div class="swiper-slide">
            <div class="product">
              <div class="img-container">
                <img src="{{i.image.url}}" alt="" />
                <div class="addCart">
                  <i class="fas fa-shopping-cart" onclick="addToBasket({{ i.id }})"></i>
                </div>

                <ul class="side-icons">
                  <span><i class="fas fa-search"></i></span>
                  <span><i class="far fa-heart"></i></span>
                  <span><i class="fas fa-sliders-h"></i></span>
                </ul>
              </div>
              <div class="bottom">
                <a href="{% url 'product_detail_url' i.id %}">{{i.title}}</a>
                <div class="price">
                  <span>{{i.price}} so'm</span>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

     <!-- Carousel Navigation -->
    <div class="arrows d-flex">
       <div class="custom-next d-flex">
          <i class="bx bx-chevrons-right swiper-icon"></i>
        </div>
        <div class="custom-prev d-flex">
          <i class="bx bx-chevrons-left swiper-icon"></i>
        </div>
    </div>
  </section>

  <!-- Products -->
  <section class="section products">
    <div class="title">
      <h2>New Products</h2>
      <span>Select from the premium product brands and save plenty money</span>
    </div>

    <div class="product-layout">
      {% for i in new_products %}
      <div class="swiper-slide">
            <div class="product">
              <div class="img-container">
                <img src="{{i.image.url}}" style="height:260px; width:260px" alt="" />
                <div class="addCart">
                  <i class="fas fa-shopping-cart" onclick="addToBasket({{ i.id }})"></i>
                </div>

                <ul class="side-icons">
                  <span><i class="fas fa-search"></i></span>
                  <span><i class="far fa-heart"></i></span>
                  <span><i class="fas fa-sliders-h"></i></span>
                </ul>
              </div>
              <div class="bottom">
                <a href="{% url 'product_detail_url' i.id %}">{{i.title}}</a>
                <div class="price">
                  <span>{{i.price}} so'm</span>
                </div>
              </div>
            </div>
          </div>
      {% endfor %}
    </div>
  </section>

  <!-- ADVERT -->
  <section class="section advert">
    <div class="advert-layout container">
      {% for i in is_advert %}
      <div class="item ">
        <img src="{{i.image.url}}" alt="">
        <div class="content left">
          <span>{{i.title}}</span>
          <h3>{{i.advert_text}}</h3>
          <a href="{% url 'product_detail_url' i.id %}">View Collection</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>

  <!-- BRANDS -->
  <section class="section brands">
    <div class="title">
      <h2>Shop by Brand</h2>
      <span>Select from the premium product brands and save plenty money</span>
    </div>

    <div class="brand-layout container">
      <div class="swiper-container slider-3">
        <div class="swiper-wrapper">
          {% for i in brand %}
          <div class="swiper-slide">
            <img src="{{i.image.url}}" alt="">
          </div>
          {% endfor %}
          
        </div>
      </div>
    </div>
  </section>
{% endblock %}